  <div class="form-group">
    <label for="title">Title</label>
    <input required type="text" name="title" id="title" class="form-control">
  </div>

  <div class="form-group">
    <label for="section">section</label>
    <input required type="text" name="section" id="section"  class="form-control" style = "width: 200px;">
  </div>

  <a href="/crs/adminpage" class="btn btn-secondary">Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>

  
